.header-01 {
    height: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}